<div class="container mt-3">
    <h2 class="text-center">Forgot your password?</h2>

    <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "signup-form" }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <div class="text-start my-3">
          <%= f.input :email,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "email" } %>
        </div>
      </div>

      <div class="form-actions">
        <div class="btn btn-dark">
            <%= f.button :submit, "Send me reset password instructions" %>
        </div>
      </div>

      <div class="form-check text-start my-3">
        <%= render "devise/shared/links" %>
      </div>
    <% end %>

</div>
