<div class="container mt-3">
  <%= simple_form_for :search, url: products_path, method: :get do |f| %>
    <div class="search-form-control form-group">
      <input class="form-control string required" type="text" name="search[query]" id="search_query"/>
      <button name="button" type="submit" class="btn btn-dark">
        <i class="fas fa-search"></i> Search
      </button>
    </div>
  <% end %>

  <section class="section-products">
    <div class="container">
      <div class="row justify-content-center text-center">
        <div class="col-md-8 col-lg-6">
            <div class="header">
              <h2>Popular Products</h2>
              <h3><%= @products.count %> High-Quality recommendations Selected Just for You, <%= current_user.first_name %> <i class="fas fa-heart"></i></h3>
            </div>
        </div>
      </div>
      <div class="row">
        <% @products.each do |product| %>
          <div class="col-md-6 col-lg-4 col-xl-3">
            <div id="product-<%= product.id %>" class="single-product">
              <div class="part-1">
                <%= link_to product_path(product) do %>
                  <% if product.image.attached? %>
                    <%= image_tag(product.image, style:"width: 100%; height: 290px; object-fit: cover;") %>
                  <% else %>
                    <%= image_tag('malvestida-u79wy47kvVs-unsplash.jpg', style:"width: 100%; height: 100%; object-fit: cover;") %>
                  <% end %>
                <% end %>
                <ul>
                  <!-- li><a href="#"><i class="fas fa-shopping-cart"></i></a></li -->
                  <li><a href="#"><i class="fas fa-heart"></i></a></li>
                  <li><i><%= link_to "", product_path(product), class: "fas fa-plus", target: "_blank" %></i></li>
                </ul>
              </div>
              <div class="part-2">
                <h3 class="product-title"><%= product.name %></h3>
                <h4 class="product-price">$<%= product.price %>0 per month</h4>
                <p><%= product.description %></p>
                <p>Listed by <em><%= product.user.first_name %></em></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </section>
</div>
