<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-sm-12 my-2">
      <%= form_with url: products_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Looking for something specific?"
          %>
        <%= submit_tag "Search", name: "", class: "btn btn-dark" %>
      <% end %>
    </div>
  </div>

  <section class="section-products">
    <div class="container">
      <div class="row justify-content-center text-center">
        <div class="col-md-8 col-lg-6">
            <div class="header">
              <h2>Popular Products</h2>
              <h3><%= @products.count %> High-Quality recommendations Selected Just for You, <%= current_user.first_name %> <i class="fas fa-heart"></i></h3>
            </div>
        </div>
      </div>
      <div class="row">
        <% @products.each do |product| %>
          <div class="col-md-6 col-lg-4 col-xl-3">
            <div id="product-<%= product.id %>" class="single-product">
              <div class="part-1">
                <%= link_to product_path(product) do %>
                  <% if product.image.attached? %>
                    <%= image_tag(product.image, style:"width: 100%; height: 290px; object-fit: cover;") %>
                  <% else %>
                    <%= image_tag('malvestida-u79wy47kvVs-unsplash.jpg', style:"width: 100%; height: 100%; object-fit: cover;") %>
                  <% end %>
                <% end %>
                <ul>
                  <li><i><%= link_to "", product_path(product), class: "fa-solid fa-up-right-from-square", target: "_blank" %></i></li>
                </ul>
              </div>
              <div class="part-2">
                <h1 class="product-title"><strong><%= product.name %></strong></h1>
                <h4 class="product-price">$<span class="text-dark"><%= product.price %></span> per day</h4>
                <p class="my-2"><%= product.description %></p>
                <small class="text-muted">Listed by <em><%= product.user.first_name %></em></small>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </section>
</div>
