<div class="container mt-5">
  <%= simple_form_for(@product) do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :price %>
    <%= f.submit "Add New Product", class: "btn btn-dark" %>
  <% end %>
</div>
